//@font-face {
//  font-family: '***';
//  src: url('./fonts/***.eot');
//  src: url('./fonts/***.eot?#iefix') format('embedded-opentype'),
//    url('./fonts/***.woff2') format('woff2'),
//    url('./fonts/***.woff') format('woff'),
//    url('./fonts/***.svg#***') format('svg');
//  font-weight: bold;
//  font-style: normal;
//}

@font-face {
  font-family: 'Conqueror Sans';
  src: url('../../../fonts/ConquerorSansLight.eot');
  src: url('../../../fonts/ConquerorSansLight.woff2') format('woff2');
    url('../../../fonts/ConquerorSansLight.woff') format('woff');
    url('../../../fonts/ConquerorSansLight.eot?#iefix') format('embedded-opentype');
    url('../../../fonts/ConquerorSansLight.svg#ConquerorSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}